.login-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020617;
}

.login-form {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.1);
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 6px;
  border: none;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background: #0ea5e9;
}

.error {
  color: red;
  margin-bottom: 10px;
}
