.products-container {
  padding: 40px;
  background: #020617;
  min-height: 80vh;
  color: white;
}

.products-container h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #38bdf8;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.product-card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.2);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card p {
  font-size: 14px;
  margin: 5px 0;
}

.price {
  color: #38bdf8;
  font-weight: bold;
  font-size: 18px;
}

.product-card button {
  margin-top: 15px;
  padding: 8px 15px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.product-card button:hover {
  background: #0ea5e9;
}
