
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background: #020617;
  color: #f1f5f9;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.page-title {
  font-size: 40px;
  margin-bottom: 30px;
  color: #38bdf8;
}
